@model IEnumerable<SMS_MVCDTO.Models.DTOs.AttendantDTOs.AttendantResponseModel>

@{
    ViewData["Title"] = "Index";
}
@{
    if (TempData["Success"] != null)
    {
        <h2>@TempData["success"]</h2>
    }
    if (TempData["failed"] != null)
    {
        <h2>@TempData["failed"]</h2>
    }
}

<h1>Attendant Dashboard</h1>

<div class="container1">
    <div class="box box2">
        <form asp-controller="Product" asp-action="GetById">
            <input type="search" placeholder="Product barCode.." aria-label="Search" name="barCode">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="box box2">
        <form asp-controller="Product" asp-action="GetByName">
            <input type="text" placeholder="Product Name.." name="name">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="box box2">
        <form asp-controller="" asp-action="GetByAttendant">
            <input type="text" placeholder="nothin yet.." name="staffId">
            <button type="submit">Search</button>
        </form>
    </div>

</div>

<div class="container">

    <div class="box box1"> side bar </div>
</div>


<div class="container">

    <div class="box box1">
        <h2>Recent transactions..</h2>

        <table class="table table-info">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.StaffId)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Data.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.LastName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Data.Gender)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Data.UserRole)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data.StaffId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Data.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data.LastName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Data.Gender)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Data.UserRole)
                        </td>


                        <td>

                            <a asp-action="Details" asp-route-staffId="@item.Data.StaffId">Details</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <br />
    </div>

    <div class="box box1">
        <h2>New product..</h2>
        
<table class="table table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.StaffId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Data.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Data.Gender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Data.UserRole)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.StaffId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data.UserRole)
                </td>


                <td>

                    <a asp-action="Details" asp-route-staffId="@item.Data.StaffId">Details</a>
                </td>
            </tr>

        }
    </tbody>
</table>
            <br />
    </div>

</div>


<br />
<br />
<br />